/* myProduct.css */
@media (max-width: 500px) {
    .hidden-on {
      display: none;
    }
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }